/* 清空默认样式 💖💖💖*/
* {
    margin : 0;
    padding: 0;
}

/* 导航栏的背景颜色 💕💕💕*/
header .header-background {
    background-color: #333333;
}

/* 三味书屋的字体颜色 💕💕💕*/
header .font-color {
    color      : #500a16;
    font-weight: bold;
    font-size  : 24px;
}

/* 移动导航栏里的搜索框至导航栏中间位置 💕💕💕*/
header .search-move {
    margin-left: 430px;
}

/* 变更其bootstrap里导航栏的hover效果 💕💕💕*/
header .font-color:hover {
    background-color: #EEEEEE;
}

/* 设置图书服务器字体大小 💕💕💕*/
header #iconfont-tushu {
    font-size: 24px;
}

/* 设置排行榜服务器字体大小 💕💕💕*/
header #iconfont-paihang {
    font-size: 24px;
}

/* 搜索框按钮的定位 */
.headerbtn {
    position: relative;
    top     : 7px;
}

/* 点击箭头可以返回顶部 */
.up {
    position: fixed;
    right   : 0;
    bottom  : 50px;
    display : none;
}

.up img {
    width  : 40px;
    height : 40px;
    cursor : pointer;
    z-index: 999999;
}

/* 设置input动态生成的框 */
.inputdiv {
    width           : 325.6px;
    background-color: white;
    display         : none;
    position        : absolute;
    left            : 620px;
    top             : 50px;
    z-index         : 100;
    cursor          : pointer;
}

.inputdiv::after {
    content          : '';
    position         : absolute;
    top              : -8px;
    left             : 50%;
    transform        : translateX(-50%);
    border-left      : 8px solid transparent;
    border-right     : 8px solid transparent;
    border-bottom    : 8px solid rgb(255, 255, 255);
    -webkit-transform: translateX(-50%);
    -moz-transform   : translateX(-50%);
    -ms-transform    : translateX(-50%);
    -o-transform     : translateX(-50%);
}

/* .liInput{
    list-style-type: none;
} */
.spanAuthor {
    position: relative;
    left    : 10px;

}

.pIput {
    height: 40px;
    position: relative;
    font-size: 16px;
    border-bottom:1px solid #EEEEEE
    
}
.pIput:hover{
    background-color: #DBDADA;
}


/* 轮播图效果 💟*/
.swiper-container {
    width : 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size : 18px;
    background: #fff;

    /* Center slide text vertically💟 */
    display                : -webkit-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-box-pack       : center;
    -ms-flex-pack          : center;
    -webkit-justify-content: center;
    justify-content        : center;
    -webkit-box-align      : center;
    -ms-flex-align         : center;
    -webkit-align-items    : center;
    align-items            : center;
    transition             : 300ms;
    transform              : scale(0.8);
}

.img1 {
    width : 350px !important;
    height: 350px !important;
}

.swiper-slide {
    cursor: pointer;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
    transform: scale(1);
}

/* 排行榜三个字效果🔥 */
#content-p {
    font-size  : 20px;
    font-weight: bold;
}

#p-font {
    font-size: 20px;
}

/* 排行榜效果🔥 */
.paihang-content {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
}

.paihang-content div {
    width: 260px;
}

.paihang-content div img {
    width : 240px;
    height: 240px;
}

.Div1 {
    cursor: pointer;
}

/* 网页底部效果 🦶*/
footer {
    width           : 100%;
    height          : 9.375rem;
    background-color: #333333;
    text-align      : center;
}

footer p {
    position: relative;
    top     : 45%;
    color   : #e0c8d1;
}